node_modules/
*.sh
*.lock
*.zip
*.ts
*/*.*tmp*/*
lib/
src/
*env*
*env*/
.*env*
.*env*/
*.exe
*.dll
*.cfg
*.json
*.jwt
*.jwX
*.iso
*.apk
*.appimage
*.ipa
*.der
*.key
*.cer
*._ACME
*._DONT_ADD_.*
*.dmg
*.pgp
*.php
*token*
*.png
*.sol
