[submodule ".api/.api/GTR"]
	path = .api/.api/GTR
	url = https://github.com/FeiWang96/GTR.git
[submodule ".api/.api/AkropolisToken"]
	path = .api/.api/AkropolisToken
	url = https://github.com/akropolisio/AkropolisToken
[submodule ".well-known/.api/gftp"]
	path = .well-known/.api/gftp
	url = https://github.com/masneyb/gftp.git
[submodule "solc"]
	path = solc
	url = https://github.com/ethereum/solc-js.git
